{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day Book</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="login-box"> 
            <div class="header">
                <h3>Day Book 2080/03/14</h3>
            </div>
                <center>
                    <p style="font-size: 16px;">Pokhara - 33, Kaski</p>
                </center>
            <p>
                <h5>Under construction...</h5>
            </p> 

            <div class="form-group">
                <form action="{% url 'home' %}" method="GET">
                    <button type="submit" class="btn-secondary" id="renewList">Show Day Book</button>
                </form>
            </div>

            <div class="form-group">
                <form action="{% url 'home' %}" method="GET">
                    <button type="submit" class="btn-secondary" id="renewList">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
