*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f3;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box, .signup-box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}

.login-box h3, .signup-box h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 16px;
    font-weight: 500;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group input::placeholder {
    color: #999;
}

.form-group.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    background-color: #8ed081; /* Light green */
    color: #fff;
    transition: background-color 0.3s; /* Smooth transition */
}

.form-group button:hover {
    background-color: #4CAF50; /* Green on hover */
}

.signup-link {
    text-align: center;
    margin-top: 15px;
}

.signup-link a {
    color: #4CAF50;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.form-group label input {
    margin-right: 10px;
}

.form-group label .remember-text {
    font-size: 14px;
}
